* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
    position: relative;
}

a {
    text-decoration: none;
}

.word-style {
    color: white;
    font-size: 10rem;
    margin-left: 26rem;
    width: 25rem;
    background-color: black;
    text-align: center;
}

.word-style:hover {
    background-image: url(https://media.giphy.com/media/LzRrW7v0WFLzO/giphy.gif);
    background-repeat: no-repeat;
}

.word-style:not(:hover) {
    animation: swell 2.5s ease-in-out infinite;
}

@keyframes swell {
    from {
        transform: scale(.9);
    }
     50% {
        transform: scale(1.1);
    }
    to {
        transform: scale(.9);
    }
}

#phone-fit {
    position: absolute;
    left: 120px;
    bottom: 362px;
    width: 25px;
    height: 25px
}

#mail {
    position: absolute;
    left: 150px;
    bottom: 362px;
    width: 25px;
    height: 25px;
}

#about {
    color: black;
    margin: 2rem;
    font-size: 19pt;
}

#title {
    position: absolute;
    left: 5px;
    bottom: 342px;
    color: white;
}

#home-button {
    position: absolute;
    left: 620px;
    bottom: 374px;
    color: black;
    height: 1.5rem;
    width: 3rem;
    background-color: white;
    /* border: 3px solid gray; */
}

#services-button {
    position: absolute;
    left: 670px;
    bottom: 374px;
    color: black;
    height: 1.5rem;
    width: 3rem;
    background-color: white;
    /* border: 3px solid gray; */
}

#home-button:hover {
    background-color: black;
    color: white;
}

#services-button:hover {
    background-color: black;
    color: white;
}

.box {
    width: 45rem;
    height: 25rem;
    background-color: white;
    position: absolute;
    left: 15.99rem;
    border: 5px solid gray;
}

.contact {
    width: 100%;
    height: 3rem;
    background-color: black;
}



