body {
    background-color: black;
    display: flex;
    display: column;
}

a {
    text-decoration: none;
}

.word-style {
    color: white;
    margin-left: 28rem;
    margin-top: 14.5rem;
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    flex: 1;
    transition: all .19s linear;
}

.word-style:hover {
    background-image: url(https://media.giphy.com/media/2vmho5c3fKQ2I8yc7v/giphy.gif);
}

.word-style:not(:hover) {
    animation: swell 3s ease-in-out infinite;
}

@keyframes swell {
    from {
        transform: scale(.9);
    }
     50% {
        transform: scale(1.1);
    }
    to {
        transform: scale(.9);
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: black;
        display: flex;
        display: column;
    }

    a {
        text-decoration: none;
    }
    
    .word-style {
        color: white;
        font-size: 10rem;
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
        flex: 1;
        transition: all .19s linear;
    }
}