* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

h2 {
    text-align: center;
}

p {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

a {
    text-decoration: none;
}

#main {
    display: grid;
    grid-gap: 2.2rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
}

.word-style {
    color: white;
    font-size: 10rem;
    background-color: black;
    text-align: center;
    width: 25rem;
    margin-left: 26.3rem;
}

.word-style:hover {
    background-image: url(https://media.giphy.com/media/9JcMdbuGdV32fkswuR/giphy.gif);
}

.word-style:not(:hover) {
    animation: swell 3s ease-in-out infinite;
}

@keyframes swell {
    from {
        transform: scale(.9);
    }
     50% {
        transform: scale(1.1);
    }
    to {
        transform: scale(.9);
    }
}

.box {
    border: .2rem solid white;
    background-color: white;
    color: black;
    position: relative;
    overflow: hidden;
    border: 5px solid gray;
    max-height: 450px;
}


.box:hover {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSm24m2isyazTKbn7DPrcJYsDQoYP2PJYxRxEvR3mGmJMxsOUiW);
    max-height: 450px;
}

.box:hover h2 {
    display: none;
}

.box:hover img {
    display: none;
}

.box:hover p {
    display: none;
}

.image-fit {
    margin-left: 6.9rem;
}

.image-fit__cart {
    width: 50px;
    height: 50px;
    margin-left: 1rem;
}

.nav-button {
    text-align: center;
    background-color: black;
    color: #ffffff;
    width: 5rem;
    height: 2rem;
    margin-left: 2rem; 
    transition: all .09s linear;
    border-radius: 8%;
}

.nav-button:hover {
    background-color: #ffffff;
    color: black;
}


