body {
    background-color: #cccccc;
    display: flex;
    flex: column;
}

.main-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.component-1 {
    width: 293px;
    height: 3rem;
    background-color: black;
    color: #cccccc;
    position: relative;
    margin-left: 30rem;
    margin-top: 29rem;
    border: solid 5px 	#A9A9A9;
    border-radius: 5%;
    display: flex;
    flex: column;
    overflow: hidden;
}

.salt-title {
    width: 302px;
    height: 22rem;
    background-color: transparent;
    color: black;
    position: absolute;
    margin-left: 30rem;
    margin-top: 12rem;
    text-align: center;
}

.center-content {
    margin-top: 5.5rem;
}

.home-button {
    background-color: black;
    border-right: 2px solid #A9A9A9; 
    margin-left: 2rem;
    padding-right: 1rem;
    transition: all .19s linear;
    color: #cccccc;
}

.home-button:hover {
    background-color: white;
    color: black;
    padding: 1px;
    border: 2px solid #A9A9A9;
    margin-bottom: 10px;
    transition: all .19s linear;
}

.about-button {
    background-color: black;
    margin-left: 2rem;
    color: #cccccc;
}

.about-button:hover {
    background-color: white;
    color: black;
    padding: 1px;
    border: 2px solid #A9A9A9;
    margin-bottom: 10px;
    transition: all .19s linear;
}

.contact-button {
    background-color: black;
    margin-left: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-left: 2px solid #A9A9A9;
    color: #cccccc;
}

.contact-button:hover {
    background-color: white;
    color: black;
    padding: 1px;
    margin-right: 2rem;
    border: 2px solid #A9A9A9;
    margin-bottom: 10px;
    transition: all .19s linear;
}

a {
    text-decoration: none;
}